.titleMain {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    font-size: 3em;
    margin: -90px;
}
.subtitle {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    font-size: 2em;
    margin: 83px;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: rgb(248,249,250);
    margin: 0;
    font-size: 1rem;
}
/* barre de navigation*/
header {
    width: 100%;
    height: 85px;
    background-color: rgb(127,181,183);
    box-shadow: gray -4px 1px 20px
}
/* menu burger*/
#burgerMenuBar {
    width: 40px;
    height: 20px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.bar {
    height: 8px;
    width: 100%;
    background-color: rgb(31,34,41);
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.change .bar {
    background-color: rgb(126,139,160);
}

.change #bar1 {
    transform: translateY(8px) rotateZ(-45deg);
}

.change #bar3 {
    transform: translateY(-8px) rotate(45deg);
}

.change #bar2 {
    opacity: 0;
}

.navigation .nav .navContacts {
    color: black;
    text-decoration: none;
}

.navigation .nav {
    list-style-type: none;
    padding: 16px 0;
}

.navigation {
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}

.nav:hover {
    font-weight: bold;
    color: black;
    text-shadow: #CCC 2px 2px 18px;
}

.change {
    display: block;
}

.burgerMenuCircle {
    z-index: 1;
    width: 0;
    height: 0;
    background: radial-gradient(circle,rgb(45,125,124),rgb(127,181,183));
    border-radius: 50%;
    transition: 0.2s ease;
    margin: 30px 0 20px 20px;
}

.changeCircle {
    width: 500px;
    height: 500px;
    margin: 0;
    padding: 0;
    transform: translate(-50%,-35%);
}

.burgerMenuCircle, #burgerMenu {
    top: 0;
    left: 0;
    position: absolute;
}

#burgerMenu {
    z-index: 2;
    font-size: 22px;
    transition: 1s ease;
}
/* frise */
.friseContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frise {
    position: absolute;
    background-color: black;
    width: 10px;
    height: 3500px;
    z-index: -1;
}
/* Grid */
#container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 3rem;
    margin-top: 20%;
}
/* Bubbles */

.bubbleText {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.bubble {
    content: '';
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 20em;
    height: 20em;
    background: #00b8cc;
    box-shadow: 12px 5px 10px 0px rgb(115, 154, 172);
}
.bubble::after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 60px solid transparent;
	border-right-color:#00b8cc;
	border-left: 0;
	border-bottom: 0;
	margin-top: -15px;
    margin-left: -35px;
    z-index: -1;
}
.bubbleRightArrow {
    content:'';
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 20em;
    height: 20em;
    background: #00b8cc;
    box-shadow: -12px -5px 10px 0px rgb(115, 154, 172);
}
.bubbleRightArrow::after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 60px solid transparent;
	border-left-color:#00b8cc;
	border-right: 0;
	border-bottom: 0;
	margin-top: -15px;
    margin-right: -35px;
    z-index: -1;
}


/*Bubble Coordonnées*/

.bubble2 {
    grid-row-start: 2;
    grid-column-start: 1;
}
.bubble3 {
    grid-row-start: 3;
    grid-column-start: 1;
}
.bubble4 {
    grid-row-start: 4;
    grid-column-start: 1;
}

/* Footer */

footer {
    background-color: rgb(127,181,183);
    margin-bottom: 0;
}

footer p {
    font-size: 1.3rem;
    text-align: center;
    color: white;
    padding: 20px 0 20px 0;
    margin: 0;
    opacity: .8;
}

footer > div > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer > div > ul > li {
    display: inline-block;
}

footer > div > ul > li > a {
    font-size: 2rem;
}

.fab {
    padding: 1.2rem;
    font-size: 1.2rem;
    width: 1.2rem;
    text-align: center;
    text-decoration: none;
    margin: 3px 1px;
        margin-right: 1px;
    border-radius: 5px;
    margin-right: 50px;
}

.fab:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}
/* Media queries */

@media only screen and (min-width:768px) and (max-width:992px){
#container {
    margin-top: 20%;
    margin-bottom: 10%;
}
.bubble .bubbleRightArrow {
    width: 24em;
    height: 24em;
}
.changeCircle {
    width: 600px;
    height: 600px;
    margin: 0;
    padding: 0;
    transform: translate(-50%,-35%);
}

}
@media only screen and (min-width:993px) and (max-width:1199px){
    #container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem; 
    } 
    .bubble {
        width: 25em;
        height: 25em;
    }
    .bubbleText {
        font-size: 22px;
    }

/*bubble Coordonée*/

    .bubble2 {
        grid-row-start: 2;
        grid-column-start: 2;
    }
    .bubble3 {
        grid-row-start: 3;
        grid-column-start: 1;
    }
    .bubble4 {
        grid-row-start: 4;
        grid-column-start: 2;
    }  
}

@media only screen and (min-width:1200px) {
#container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 4rem; 
}
/* Bubble & arrows */
.rightArrow {
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 20em;
    height: 20em;
    background: #00b8cc;
}
.rightArrow::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 60px solid transparent;
    border-left-color: #00b8cc;
    border-right: 0;
    border-bottom: 0;
    margin-top: -15px;
    margin-right: -35px;
    z-index: -1;
}

.bubble::after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 60px solid transparent;
	border-right-color:#00b8cc;
	border-left: 0;
	border-bottom: 0;
	margin-top: -15px;
    margin-left: -35px;
    z-index: -1;
}

.bubbleText {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.bubble2 {
    grid-row-start: 2;
    grid-column-start: 2;
}
.bubble3 {
    grid-row-start: 3;
    grid-column-start: 1;
}
.bubble4 {
    grid-row-start: 4;
    grid-column-start: 2;
}

/* Footer */

.fab {
    padding: 1rem;
    font-size: 2rem;
    width: 2rem;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10px;
}

footer p {
    font-size: 1.5rem;
}
}
