body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: rgb(185, 200, 207);
    font-size: 1rem;
}

 /*.changeBody {
    background-color: black; 
}*/

#burgerMenuBar {
    width: 20px;
    height: 20px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: black;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.change .bar {
    background-color: grey;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
    transform: translateY(-6px) rotate(45deg);
}

.change #bar2 {
    opacity: 0;
}

.navigation .nav .navContacts {
    color: black;
    text-decoration: none;
}

.navigation .nav {
    list-style-type: none;
    padding: 16px 0;
}

.navigation {
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}

.nav:hover {
    font-weight: bold;
    color: black;
    text-shadow: #CCC 2px 2px 18px;
}

.change {
    display: block;
}

.burgerMenuCircle {
    z-index: 1;
    width: 0;
    height: 0;
    background: radial-gradient(circle,rgb(247,235,152),rgb(247,235,152));
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 30px 0 20px 20px;
}

.changeCircle {
    width: 500px;
    height: 500px;
    margin: 0;
    padding: 0;
    transform: translate(-50%,-35%);
}

.burgerMenuCircle, #burgerMenu {
    top: 0;
    left: 0;
    position: absolute;
}

#burgerMenu {
    z-index: 2;
    font-size: 22px;
}
/*Grid*/
#container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 3rem;
    margin-top: 20%;

    /*background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFgAAAATCAYAAAAUCsqbAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAUElEQVRYhe3QsQ0AIBDDQML+O4cN6CxeyNemiZy2XYMlue7D76/9+sDvDAwzMMzAMAPDDAwzMMzAMAPDDAwzMMzAMAPDDAwzMMzAMAPDDAw7w0QHIhno8isAAAAASUVORK5CYII=);
    background-repeat: repeat-y;
    background-position: right;*/
}
/*bubble*/

.bubble {
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 20em;
    height: 20em;
    background: #00b8cc;
    box-shadow: 12px 12px 2px 1px rgb(115, 154, 172);
}
.bubbleText {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.bubble::after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 60px solid transparent;
	border-right-color:#00b8cc;
	border-left: 0;
	border-bottom: 0;
	margin-top: -15px;
    margin-left: -35px;
    z-index: -1;
}
/*bubble Coordonée*/
.bubble2 {
    grid-row-start: 2;
    grid-column-start: 1;
}
.bubble3 {
    grid-row-start: 3;
    grid-column-start: 1;
}
.bubble4 {
    grid-row-start: 4;
    grid-column-start: 1;
}

footer {
    background-color: teal;
}

footer p {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    padding: 20px 0 20px 0;
    margin: 0;
    opacity: .8;
}

footer > div > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer > div > ul > li {
    display: inline-block;
}

footer > div > ul > li > a {
    font-size: 2rem;
}

.fab {
    padding: 1rem;
    font-size: 2rem;
    width: 2rem;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10px;
}

.fab:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}
@media only screen and (min-width:768px) and (max-width:992px){

}


@media only screen and (min-width:1200px){
#container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 1rem; 
}

.RightArrow {
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 20em;
    height: 20em;
    background: #00b8cc;
}
.RightArrow::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 60px solid transparent;
    border-left-color: #00b8cc;
    border-right: 0;
    border-bottom: 0;
    margin-top: -15px;
    margin-right: -35px;
    z-index: -1;
}

.bubble::after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 60px solid transparent;
	border-right-color:#00b8cc;
	border-left: 0;
	border-bottom: 0;
	margin-top: -15px;
    margin-left: -35px;
    z-index: -1;
}

.bubbleText {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.bubble2 {
    grid-row-start: 2;
    grid-column-start: 2;
}
.bubble3 {
    grid-row-start: 3;
    grid-column-start: 1;
}
.bubble4 {
    grid-row-start: 4;
    grid-column-start: 2;
}
}
